sky #BBE6E4
red #FF1700
orange #FF8E00
yellow #FFE400
green #06FF00
blue #3B82F6
indigo #111D5E
violet #8843F2


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.canvas{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #BBE6E4;
}

.red{
    position:absolute;
    bottom: 0;
    width: 150vmin;
    height: 80vmin;
    border-radius: 50%;
    background: #FF1700;
    display: flex;
    justify-content: center;align-items: center;
}

.orange{
    position:absolute;
    bottom: 0;
    width: 130vmin;
    height: 80vmin;
    border-radius: 50%;
    background: #FF8E00;
}